@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot');
	src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
		url('<%= fontPath %><%= fontName %>.woff') format('woff'),
		url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
		url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

@mixin <%= cssClass%>-styles {
	display: inline-block;
	height: inherit;
	@include margin(null 0.2rem);
	font-size: 1rem;
	font-family: "<%= fontName %>";
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: inherit;
	text-align: center;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="webfont-"],
[class*=" webfont-"],
.webfont {

	&:before {
		@include <%= cssClass%>-styles;
	}
}

@function <%= cssClass%>-char($filename) {
	$char: "";
<% _.each(glyphs, function(glyph) { %>
	@if $filename == "<%= glyph.fileName %>" {
		$char: "\<%= glyph.codePoint %>";
	}<% }); %>

	@return $char;
}

@mixin <%= cssClass%>($filename, $insert: before) {
	&:#{$insert} {
		content: <%= cssClass%>-char($filename);
	}
}

<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %> {
	@include <%= cssClass%>("<%= glyph.fileName %>");
}
<% }); %>
