// =============================================================================
//  DATEPICKER
// =============================================================================

div.ardp-date-picker * {
    box-sizing:border-box;
}

.ardp-date-picker {
  font-size:16px;
  font-family:Arial;
  box-sizing:border-box;

  .calendars {
    display: none;
    position: absolute;
    z-index: 10;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

    &.visible {
      display: block;
    }

    .calendar {
      float: left;
      width: 323px;
      padding: 25px;
      color: #244152;
      overflow: hidden;
      + .calendar {
        padding-left: 0;
        width: 298px;
      }
    }
  }
}

div.ardp-date-picker div.calendar div.calendar-view + div.calendar-view {
  margin-left: 20px;
}

div.ardp-date-picker div.calendar.calendar-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
}
div.ardp-date-picker div.calendar.calendar-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 100ms, opacity 100ms linear;
}
div.ardp-date-picker div.calendar div.month-header {
  float: left;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
div.ardp-date-picker div.calendar div.month-header > i {
  font-weight: bold;
  padding: 5px 8px;
  cursor: pointer;
  font-style:normal;
  font-size:0.7em;
}
div.ardp-date-picker div.calendar div.month-header > span {
  font-size: 18px;
  font-weight: bold;
}
div.ardp-date-picker div.calendar div.month-header > i:hover {
  background-color: $teal;
  color: white;
}
div.ardp-date-picker div.calendar div.week-header {
  float: left;
  width: 100%;
  margin-top: 8px;
  display: table;
  padding-bottom: 3px;
  margin-bottom: 3px;
}
div.ardp-date-picker div.calendar div.week-header > span {
  float: left;
  width: 39px;
  font-size: 12px;
  color: #757575;
  text-align: center;
}
div.ardp-date-picker div.calendar div.weeks {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 230px;
}
div.ardp-date-picker div.calendar div.weeks > div {
  position: absolute;
  width: 273px;
}
div.ardp-date-picker div.calendar div.weeks > div.current {
  left: 0;
}
div.ardp-date-picker div.calendar div.weeks > div.other {
  left: 273px;
}
div.ardp-date-picker div.calendar div.weeks > div.other.right {
  left: -273px;
}
div.ardp-date-picker div.calendar div.weeks > div.sliding {
  transition: transform 273ms ease;
  -webkit-transition: -webkit-transform 273ms ease;
}
div.ardp-date-picker div.calendar div.weeks > div.sliding.left {
  transform: translate3d(-273px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
}
div.ardp-date-picker div.calendar div.weeks > div.sliding.right {
  transform: translate3d(273px, 0, 0);
  -webkit-transform: translate3d(273px, 0, 0);
}
div.ardp-date-picker div.calendar div.weeks div.week {
  float: left;
  width: 100%;

  &:first-child {
    div.day {
      border-top: 1px solid #e4e7e7;
      &.other-month {
        border-top: none;
      }
    }
  }
  &:last-child {
      div.day.other-month {
        border-bottom: none;
      }
  }
}
div.ardp-date-picker div.calendar div.weeks div.week div.day {
  float: left;
  width: 39px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  color: #565a5c;
  padding: 8px 0;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid #e4e7e7;
  border-bottom: 1px solid #e4e7e7;

  &.other-month {
    border-right: none;
  }

  &:first-child {
      border-left: 1px solid #e4e7e7;
      &.other-month {
        border-left: none;
      }
  }
}

div.ardp-date-picker div.calendar div.weeks div.week div.other-month + div.day:not(.other-month) {
  border-left: 1px solid #e4e7e7!important;
}

div.ardp-date-picker div.calendar div.weeks div.week div.day:hover {
  background: $tealLight;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled {
  color: #E0E0E0;
  cursor: default;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.inbetween {
  background-color: $tealLight;
  color: white;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled:hover {
  background: transparent !important;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.today {
  background: #cccccc;
  color: white;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.selected {
  background: $teal;
  color: white;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.other-month {
  // opacity: 0;
  color: white;
  background-color: white;
}
