// =============================================================================
//  DATEPICKER
// =============================================================================

$spacing: 25px;
$monthWidth: 273px;
$monthWidthAndSpacing: $monthWidth + $spacing;
$twoMonthWidth: ($monthWidth * 2) + $spacing;
$twoMonthWidthAndSpacing: $twoMonthWidth + $spacing;


.mc-date-picker {
	font-size: 16px;
	font-family: Arial;
	box-sizing: border-box;

	.datepicker-inputs {
		@include clearfix;

		input.date-picker-trigger {
			cursor: text;
			width: auto;
			float: left;
			font-size: 14px;
			color: #484848;
			border: 1px solid #ccc;
			@include padding(20px 15px);

			+ input.date-picker-trigger {
				border-left: none;
			}

			&.active {
				background-color: $tealLighter;
			}
		}
	}

	.calendars {
		display: none;
		position: absolute;
		z-index: 10;
		background: white;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

		&.visible {
			display: block;
		}

		.calendar {
			float: left;
			width: 621px;
			@include padding($spacing);
			color: #244152;
			overflow: hidden;

			+ .calendar {
				@include padding(null null null 0);
				width: 298px;
			}
			&.calendar-show {
				visibility: visible;
				opacity: 1;
				transition: opacity 100ms linear;
			}
			&.calendar-hide {
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s 100ms, opacity 100ms linear;
			}

			.calendar-view + .calendar-view {
				margin-left: 20px;
			}

			.month-header {
				position: relative;
				color: #3c3f40;
				float: left;
				width: 100%;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
				align-items: center;

				> i {
					@include position(absolute, 0 null null 0);
					@include padding(5px 8px);
					cursor: pointer;
					font-weight: bold;
					font-style: normal;
					font-size: 0.7em;

					+ i {
						@include position(absolute, 0 0 null auto);
					}

					&:hover {
						background-color: $tealLight;
						color: white;
					}
				}
				.month-title {
					width: $monthWidth;
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					+ .month-title {
						margin-left: $spacing;
					}
				}
			}
		}

		.week-header {
			float: left;
			width: $monthWidth;
			margin-top: 8px;
			display: table;
			@include padding(null null 3px null);
			@include margin(null null 3px null)

			+ .week-header {
				margin-left: $spacing;
			}

			> span {
				float: left;
				width: 39px;
				font-size: 12px;
				color: #757575;
				text-align: center;
			}
		}

		.weeks {
			float: left;
			width: 100%;
			overflow: hidden;
			position: relative;
			height: 230px;

			> div {
				position: absolute;
				width: $twoMonthWidth;

				&.current {
					left: 0;
				}
				&.prev {
					left: -$twoMonthWidthAndSpacing;
				}
				&.next {
					left: $twoMonthWidthAndSpacing;
				}
				&.sliding {
					transition: transform 500ms ease;
					-webkit-transition: -webkit-transform 500ms ease;
					&.left {
						transform: translate3d(-$monthWidthAndSpacing, 0, 0);
						-webkit-transform: translate3d(-$monthWidthAndSpacing, 0, 0);
					}
					&.right {
						transform: translate3d($monthWidthAndSpacing, 0, 0);
						-webkit-transform: translate3d($monthWidthAndSpacing, 0, 0);
					}
				}

				.weeks-one,
				.weeks-two {
					float: left;
					width: $monthWidth;
				}
				.weeks-two {
					margin-left: $spacing;
				}
			}

			.week {
				float: left;
				width: 100%;

				&:first-child {
					.day {
						border-top: 1px solid #e4e7e7;
						&.other-month {
							border-top: none;
						}
					}
				}
				&:last-child {
					.day.other-month {
						border-bottom: none;
					}
				}

				.day {
					float: left;
					width: 39px;
					height: 38px;
					font-size: 14px;
					font-weight: bold;
					color: #565a5c;
					@include padding(8px 0);
					cursor: pointer;
					text-align: center;
					border-right: 1px solid #e4e7e7;
					border-bottom: 1px solid #e4e7e7;

					&.other-month {
						border-right: none;
					}

					&:first-child {
						border-left: 1px solid #e4e7e7;
					}
					&.other-month {
						border-left: none;
					}
					&.other-month + .day:not(.other-month) {
						border-left: 1px solid #e4e7e7!important;
					}
					&:hover {
						background: $tealLight;
					}
					&.disabled {
						color: #E0E0E0;
						cursor: default;
						&:hover {
							background: transparent !important;
						}
					}
					&.today {
						background: #f2f2f2;
					}
					&.inbetween {
						background-color: $tealLight;
						color: white;
					}
					&.selected-start,
					&.selected-end {
						background: $teal;
						color: white;
					}
					&.other-month {
						cursor: default;
						color: white;
						background-color: white;
					}
				}
			}
		}
	}
}
