@font-face {
	font-family: "icons";
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('eot'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
}

@mixin webfont-styles {
	display: inline-block;
	height: inherit;
	@include margin(null 0.2rem);
	font-size: 1rem;
	font-family: "icons";
	font-variant: normal;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: inherit;
	text-align: center;
	text-transform: none;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="webfont-"],
[class*=" webfont-"],
.webfont {

	&:before {
		@include webfont-styles;
	}
}

@function webfont-char($filename) {
	$char: "";

	@if $filename == "facebook" {
		$char: "\E001";
	}
	@if $filename == "instagram" {
		$char: "\E002";
	}
	@if $filename == "pinterest" {
		$char: "\E003";
	}
	@if $filename == "twitter" {
		$char: "\E004";
	}

	@return $char;
}

@mixin webfont($filename, $insert: before) {
	&:#{$insert} {
		content: webfont-char($filename);
	}
}

.webfont-facebook {
	@include webfont("facebook");
}
.webfont-instagram {
	@include webfont("instagram");
}
.webfont-pinterest {
	@include webfont("pinterest");
}
.webfont-twitter {
	@include webfont("twitter");
}
