// =============================================================================
//  GRIDS
// =============================================================================

.grid-wrap {
	@include clearfix;
	margin-left: -1.7799%;
	margin-right: -1.7799%;
}

.grid-item {
	padding-left: 1.7799%;
	padding-right: 1.7799%;
}

.grid-item {
	@extend %col-12;
	@extend %col-6-small-only;
	@extend %col-4-medium;

	.grid-full-tablet & {
		@extend %col-12-small-only;
	}

	&.grid-odd-last {
		@extend %col-12-small-only;
	}

	&.grid-2 {
		@extend %col-8-medium;
		@extend %col-8-large;
	}

	&.grid-3 {
		@extend %col-4-small;
	}

	&.grid-4 {
		@extend %col-3-small;
	}

	&.grid-half {
		@extend %col-6-medium;
	}
}


// =============================================================================
//  2 COL LAYOUT PAGE
// =============================================================================
.grid-col {

	.grid-item {

		&,
		&.grid-2,
		&.grid-3 {
			@extend %col-12-medium;
		}
	}
}
